*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: Poppins, sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 45px;
    width: 100%;
    position: fixed;
    border-radius: 10px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    box-shadow: inset 3px 3px 10px rgba(255,255,255,0.45), inset -6px -6px 10px rgba(94,104,121,0.3);
    z-index: 999;
}


nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 40px;
}

nav ul li a{
    font-size: 20px;
    text-decoration: none;
    color: rgb(254, 254, 254);
    font-weight: 600;
    transition: 0.5s;
}

nav ul li a:hover{
    color: #e0e0e0;
    text-shadow: 0 0 8px rgba(255,255,255,0.6);
}

nav div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

nav div h2{
    color: white;
    font-size: 20px;
    text-shadow: 5px 5px 0 black;
}

nav div img{
    width: 55px;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url(img/ade-chrisnadhi-rKQG8nBbOVA-unsplash.jpg);
    height: 950px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.text{
    display: flex;
    flex-direction: column;
    width: 900px;
    margin-left: 100px;
}

.text h1{
    font-size: 55px;
    color: #b9a6ff;
    text-shadow: 3px 3px 0 black;
    transition: 0.5s;
}

.text p{
    font-size: 16px;
    color: white;
    width: 900px;
    text-shadow: 1px 1px 0 black;
    text-align: justify;
    transition: 0.5s;
}

.text:hover h1{
    font-size: 60px;
    cursor: pointer;
}

.text:hover p{
    font-size: 18px;
}

.bts{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color:#1c1b1b;
    gap: 50px;
    background: linear-gradient(to bottom,#1b1b1b,#2a2a2a,#1b1b1b);
    box-shadow: inset 3px 3px 10px rgba(255,255,255,0.45), inset -6px -6px 10px rgba(94,104,121,0.3);
}

.bts p img{
    width: 100px;
}

.middle1{
    display: flex;
    background-image: url(img/ryoka-9e-SsVBehFI-unsplash.jpg);
    background-size: cover;
    height: 1000px;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.pgf{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: rgb(37, 34, 34);
    padding: 45px;
    border-radius: 10px;
    border: solid 1px;
    box-shadow: 13px 13px 5px rgba(255,255,255,0.45); 
    transition: 0.5s;
}

.pgf h3{
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 0 black;
}

.pgf p{
    font-size: 16px;
    text-align: justify;
    color: white;
    text-shadow: 2px 2px 0 black;
}

.pgf:hover{
    width: 600px;
}

.img{
    display: flex;
    flex-direction: column;
}

.img1 img{
    width: 610px;
    border-radius: 10px;
    border: solid 1px white;
    box-shadow: inset 6px 6px 7px 0 white, 7px 7px 12px 0 black;
}

.img2{
    display: flex;
    gap: 10px;
}

.img2 img{
    width: 300px;
    border-radius: 10px;
    border: solid 1px white;
    box-shadow: inset 6px 6px 7px 0 white, 7px 7px 12px 0 black;
}

.middle2{
    display: flex;
}

.middle2-1{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 800px;
    background-image: url(img/michael-effendy-xdGigMgUwaQ-unsplash.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    justify-content: center;
    align-items: center;
    box-shadow: inset 3px 3px 10px rgba(255,255,255,0.45), inset -6px -6px 10px rgba(94,104,121,0.3);
}

.middle2-2{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 800px;
    background-image: url(img/fernando-jorge-EoQzRoLFkrw-unsplash.jpg);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    justify-content: center;
    align-items: center;
    box-shadow: inset 3px 3px 10px rgba(255,255,255,0.45), inset -6px -6px 10px rgba(94,104,121,0.3);
}

.cafe{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cafe h3{
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 0 black;
}

.cafe p{
    text-align: justify;
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 0 black;
    width: 500px;
}

.pw{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pw h3{
    text-align: center;
    font-size: 30px;
    color: white;
    text-shadow: 3px 3px 0 black;
}

.pw p{
    text-align: justify;
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 0 black;
    width: 500px;
}

.cg{
    display: flex;
    gap: 10px;
}

.kl{
    background-image: url(img/keling.jpeg);
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 0 black;
    height: 25px;
    transition: 0.8s;
}

.cb{
    background-image: url(img/cb.jpeg);
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 0 black;
    height: 25px;
    transition: 0.8s;
}

.ij{
    background-image: url(img/ijes.jpeg);
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 0 black;
    height: 25px;
    transition: 0.8s;
}

.hm{
    background-image: url(img/hamur.jpeg);
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 0 black;
    height: 25px;
    transition: 0.8s;
}

.cb:hover{
    height: 300px;
    width: 200px;
}

.kl:hover{
    height: 300px;
    width: 200px;
}

.hm:hover{
    height: 300px;
    width: 200px;
}

.ij:hover{
    height: 300px;
    width: 200px;
}

.all-cafe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    padding: 20px 15px;
    border-radius: 10px;
    border:  solid 1px white;
}

.btn{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:320px;
    gap: 10px;
}

.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #9bdd0f00;
    color: white;
    text-shadow: 2px 2px 0 black;
    height: 50px;
    font-size: 15px;
    border-radius: 3px;
    cursor: pointer;
    border: solid 1px white;
    transition: 0.5s;
    text-decoration: none;
}

.btn1:hover{
    background-color: rgba(128, 128, 128, 0.722);
}

.all-pw{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    padding: 20px 15px;
    border-radius: 10px;
    border: solid 1px white;
}

.jd{
    background-image: url(img/jd.jpeg);
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 0 black;
    height: 25px;
    transition: 0.8s;
}

.hw{
    background-image: url(img/hw.jpeg);
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 0 black;
    height: 25px;
    transition: 0.8s;
}

.kt{
    background-image: url(img/kt.jpeg);
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 0 black;
    height: 25px;
    transition: 0.8s;
}

.jp{
    background-image: url(img/jp1.jpeg);
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    width: 150px;
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 0 black;
    height: 25px;
    transition: 0.8s;
}

.jd:hover{
    height: 300px;
    width: 200px;
}

.kt:hover{
    height: 300px;
    width: 200px;
}

.hw:hover{
    height: 300px;
    width: 200px;
}

.jp:hover{
    height: 300px;
    width: 200px;
}

.top1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(img/michael-effendy-xdGigMgUwaQ-unsplash.jpg);
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.tc{
    display: flex;
}

.tc h1{
    color: white;
    font-size: 100px;
    text-shadow: 5px 5px 0 black;
}

.cf{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/nathan-dumlao-A0tNoiSq4mo-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 1500px;
    gap: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.all-cb{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    padding: 40px 40px;
    border-radius: 10px;
    border: solid 1px white;
    gap: 100px;
    width: 800px;
}

.pg-cb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pg-cb h3{
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 0 black;
}

.pg-cb p{
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 0 black;
    width: 300px;
}

.cb-img{
    display: flex;
    flex-direction: column;
}

.cb-img img{
    border-radius: 10px;
    box-shadow: 5px 5px 3px 0 black;
    border: solid 1px white;
}

.all-cb2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    padding: 40px 40px;
    border-radius: 10px;
    border: solid 1px white;
    gap: 100px;
    width: 800px;
}

.sp{
    display: flex;
    gap: 50px;
}

.top2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(img/inna-safa-cplExMGYev0-unsplash.jpg);
    height: 600px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.ws{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/m-veven-regTq4F65V0-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 1700px;
    gap: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.top3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(img/jtp.jpg);
    height: 900px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.mu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/lukas-blazek-EWDvHNNfUmQ-unsplash.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    width: 100%;
    height: 800px;
}

.jppg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    padding: 20px 20px;
    border-radius: 10px;
    border: solid 1px white;
    box-shadow: inset 6px 6px 7px 0 white, 7px 7px 12px 0 black;
    width: 1000px;
    height: 600px;
    transition: 0.5s;
}

.jppg:hover{
    width: 1100px;
    height: 650px;
}

.jppg h2{
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
    text-shadow:0px 2px 1px rgba(0, 0, 0, 0.5),0px 4px 2px rgba(0, 0, 0, 0.4),0px 6px 3px rgba(0, 0, 0, 0.3),0px 8px 4px rgba(0, 0, 0, 0.2),0px 10px 8px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.2));
}

.jppg p{
    text-align: center;
    font-size: 24px;
    width: 700px;
    color: white;
    text-shadow: 2px 2px 0 black;
}

.mu2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/jp11.jpeg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    width: 100%;
    height: 800px;
}

.mu2-all{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    padding: 20px;
    padding-right: 100px;
    padding-left: 100px;
    border-radius: 10px;
    border: solid 1px white;
    box-shadow: inset 6px 6px 7px 0 white, 7px 7px 12px 0 black;
    width: 1100px;
    height: 600px;
    gap: 100px;
}

.mu2-pg{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    justify-content: center;
    gap: 20px;
}

.mu2-pg p{
    width: 400px;
    color: white;
    text-shadow: 2px 2px 0 black;
    text-align: center;
}

.mu2-pg h4{
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 0 black;
}

.mu2-img{
    display: flex;
    gap: 10px;
}

.mu2-img img{
    border-radius: 10px;
    border: solid 1px white;
    box-shadow: inset 6px 6px 7px 0 white, 7px 7px 12px 0 black;
}

.mu2-img1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mu2-img1 img{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/boliviainteligente-L8SpI9Tn4g4-unsplash.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    width: 100%;
    height: 800px;
}

.last div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last div p{
    width: 600px;
    color: white;
    text-shadow: 2px 2px 0 black;
    text-align: center;
    font-size: 20px;
}

.last div h2{
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
    text-shadow:0px 2px 1px rgba(0, 0, 0, 0.5),0px 4px 2px rgba(0, 0, 0, 0.4),0px 6px 3px rgba(0, 0, 0, 0.3),0px 8px 4px rgba(0, 0, 0, 0.2),0px 10px 8px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.2));
}

.top4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(img/kt\ hd.jpg);
    height: 900px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.mu3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/kt1.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    width: 100%;
    height: 800px;
}

.last1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/jordan-whitfield-PaH1S6eY0Lw-unsplash.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    width: 100%;
    height: 800px;
}

.last1 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last1 div p{
    width: 600px;
    color: white;
    text-shadow: 2px 2px 0 black;
    text-align: center;
    font-size: 20px;
}

.last1 div h2{
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
    text-shadow:0px 2px 1px rgba(0, 0, 0, 0.5),0px 4px 2px rgba(0, 0, 0, 0.4),0px 6px 3px rgba(0, 0, 0, 0.3),0px 8px 4px rgba(0, 0, 0, 0.2),0px 10px 8px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.2));
}

.top5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(img/hw\ hd.jpg);
    height: 900px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.mu4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/hww.webp);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    width: 100%;
    height: 800px;
}

.last2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/benny-rotlevy-XUIi_rFlvV8-unsplash.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    width: 100%;
    height: 800px;
}

.last2 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last2 div p{
    width: 600px;
    color: white;
    text-shadow: 2px 2px 0 black;
    text-align: center;
    font-size: 20px;
}

.last2 div h2{
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
    text-shadow:0px 2px 1px rgba(0, 0, 0, 0.5),0px 4px 2px rgba(0, 0, 0, 0.4),0px 6px 3px rgba(0, 0, 0, 0.3),0px 8px 4px rgba(0, 0, 0, 0.2),0px 10px 8px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.2));
}

.top6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(img/jdp\ hd.jpg);
    height: 900px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.mu5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/jdd.jpeg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    width: 100%;
    height: 800px;
}

.last3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/navi-6iO-tOCOmOE-unsplash.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    width: 100%;
    height: 800px;
}

.last3 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last3 div p{
    width: 600px;
    color: white;
    text-shadow: 2px 2px 0 black;
    text-align: center;
    font-size: 20px;
}

.last3 div h2{
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
    text-shadow:0px 2px 1px rgba(0, 0, 0, 0.5),0px 4px 2px rgba(0, 0, 0, 0.4),0px 6px 3px rgba(0, 0, 0, 0.3),0px 8px 4px rgba(0, 0, 0, 0.2),0px 10px 8px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.2));
}

.top7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(img/cb\ b.jpeg);
    height: 900px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.mu6{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/cb\ all.jpeg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    width: 100%;
    height: 800px;
}

.last4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/yiran-ding-JQRyYCC2OIM-unsplash.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    width: 100%;
    height: 800px;
}

.last4 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.last4 div p{
    width: 600px;
    color: white;
    text-shadow: 2px 2px 0 black;
    text-align: center;
    font-size: 20px;
}

.last4 div h2{
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    letter-spacing: 2px;
    text-shadow:0px 2px 1px rgba(0, 0, 0, 0.5),0px 4px 2px rgba(0, 0, 0, 0.4),0px 6px 3px rgba(0, 0, 0, 0.3),0px 8px 4px rgba(0, 0, 0, 0.2),0px 10px 8px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.2));
}

.top8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(img/ijes\ all.jpeg);
    height: 900px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.mu7{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/ijes.jpeg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    width: 100%;
    height: 800px;
}

.top9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(img/hamur\ i.jpeg);
    height: 900px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.mu8{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/hamur\ all.jpeg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    width: 100%;
    height: 800px;
}

.top10{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: url(img/michael-effendy-xdGigMgUwaQ-unsplash.jpg);
    height: 900px;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

.mu9{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(img/nogo.jpeg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    width: 100%;
    height: 800px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    background: linear-gradient(to bottom,#1b1b1b,#2a2a2a,#1b1b1b);
    box-shadow: 3px 3px 10px rgba(255,255,255,0.45), inset -6px -6px 10px rgba(94,104,121,0.3);
}

.p1{
    display: flex;
    flex-direction: column;
}

.p1 h2{
    color: white;
    font-size: 50px;
    text-shadow: 5px 5px 0 black;
    border-bottom: solid 4px white;
    width: 210px;
}

.p1 p{
    text-align: justify;
    width: 300px;
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 0 black;
}

.p1 div img{
    width: 150px;
}

.p2{
    display: flex;
    flex-direction: column;
}

.p2 h3{
    color: white;
    font-size: 30px;
    text-shadow: 5px 5px 0 black;
    width: 210px;
}

.p2 p{
    line-height: 35px;
}

.p2 p a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 0 black;
}

.p3{
    display: flex;
    flex-direction: column;
}

.p3 h3{
    color: white;
    font-size: 30px;
    text-shadow: 5px 5px 0 black;
    width: 310px;
}

.p3 p{
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 0 black;
    line-height: 35px;
}